:root{
    /*fonts*/
    --poppins: "Poppins";
    --cairo: "Cairo";
    /*colors*/
    --black: #212121;
    --white: #FBF5E5;
    --pink: #FFACAC;
    --magenta: #E45A92;
    --mid-purple: #5D2F77;
    --dark-purple: #3E1E68;
    /*sizing*/
    --sm: 4px;
    --md: 8px;
    --lg: 16px;
    --xl: 24px;
    --xxl: 48px;
}

#logo{
    width: 50%;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    right: 50%;
}
html{
    display: flex;
    background-color: var(--white);
    font-family: var(--poppins);
    text-align: center;
    justify-content: center;
}
#background{
    opacity: 50%;
    position: fixed;
    z-index: -2;
    width: 100%;
    top: 0;
    left: 0;
}
#audioUpload,#analyzeButton{
    font-family: var(--poppins);
    padding: var(--md);
}
#audioUpload::file-selector-button,#analyzeButton{
    border: none;
    border-radius: var(--sm);
    color: var(--white);
    padding: var(--md);
    font-family: var(--poppins);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-image: linear-gradient(to bottom, var(--magenta), var(--mid-purple));
}
#audioUpload::file-selector-button:hover,#analyzeButton:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}